# Visual Studio code files
.vs/
.vscode/
*.sln.ide
*.suo
*.csproj.user
*.user
*.sln.ide-shm
*.sln.ide-wal

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
msbuild.log
msbuild.err

# Resharper files
_ReSharper.*/

# Visual Studio IntelliSense
*.vssettings
*.vsps
